.tool {
  width: 300px;
  height: 515px;
  margin-left: 5px;
  border: 1px solid rgb(91, 212, 212);
  border-radius: 8px;
  background-color: #151e21;
  color: #fff;
  position: relative;
}
.tool img {
  height: 230px;
  width: 286px;
  margin: 7px;
  border-radius: 8px;
}
.tool-info {
  margin: 10px;
}
.tool-info h4 {
  margin-bottom: -15px;
}
.btn-list {
  width: 90%;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  margin: 0 14px;
  background-color: rgb(3, 200, 200);
  color: #151e21;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
}
.btn-list:hover {
  background-color: rgb(162, 238, 238);
  color: #151e21;
}
